.news{
    margin: 1em;
    padding: 1em;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    color: rgb(0, 0, 94);
}

.news-content{
    margin: 1em;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 5px;


}

.news-content a{

    color: rgb(2, 2, 112);
    font-size: 1em;
    padding: 1em;
    text-decoration: none;
}
.a-content{
    margin-top:1em;
    margin-bottom: 1em;
}
.news-content a:hover{
    color: tomato;
}